<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Display Webcam Stream</title>
 
<style>
#container {
	margin: 0px auto;
	width: 500px;
	height: 375px;
	border: 10px #333 solid;
}
#videoElement {
	width: 500px;
	height: 375px;
	background-color: #666;
}
</style>
</head>
 
<body>
<form method = "POST">
<div id="container">
	<video autoplay="true" id="videoElement">
	
	</video>
</div>
<input type="button" name="click-photo" id="click-photo">
<canvas id="canvas" width="320" height="240"></canvas>
<script>
var video = document.querySelector("#videoElement");
var click_button = document.querySelector("#click-photo");
var canvas = document.querySelector("#canvas");
	
	
if (navigator.mediaDevices.getUserMedia) {
  navigator.mediaDevices.getUserMedia({ video: true })
    .then(function (stream) {
      video.srcObject = stream;
    })
    .catch(function (err0r) {
      console.log("Something went wrong!");
    });
}

click_button.addEventListener('click', function() {
   	canvas.getContext('2d').drawImage(video, 0, 0, canvas.width, canvas.height);
   	let image_data_url = canvas.toDataURL('image/jpeg');

   	// data url of the image
   	console.log(image_data_url);
	document.getElementById("base64").value = image_data_url;
});
</script>
<input type="text" name="base64" id="base64">
<input type="submit">
<img src="data:image/jpeg;base64,{{ user_image }}" alt="User Image" width="320">

</form>
</body>
</html>
